[submodule "dependencies/nanhu"]
	path = dependencies/nanhu
	url = https://github.com/Siudya/Nanhu
[submodule "dependencies/fudian"]
	path = dependencies/fudian
	url = https://github.com/Siudya/fudian
[submodule "dependencies/hardfloat"]
	path = dependencies/hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat
[submodule "dependencies/cde"]
	path = dependencies/cde
	url = https://github.com/chipsalliance/cde
[submodule "dependencies/difftest"]
	path = dependencies/difftest
	url = https://github.com/OpenXiangShan/difftest
[submodule "dependencies/nhl2"]
	path = dependencies/nhl2
	url = https://github.com/cyril0124/NHL2
[submodule "dependencies/rocket-chip"]
	path = dependencies/rocket-chip
	url = https://github.com/Siudya/rocket-chip
[submodule "dependencies/xs-utils"]
	path = dependencies/xs-utils
	url = https://github.com/Siudya/xs-utils
[submodule "dependencies/zhujiang"]
	path = dependencies/zhujiang
	url = https://github.com/Siudya/ZhuJiang
[submodule "ready-to-run"]
	path = ready-to-run
	url = https://github.com/Siudya/ready-to-run
